{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Profile Page{% endblock title %}

{% block content %} 

    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <a class="navbar-brand text-white" href="#">INSEAist Bot</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active text-white" href="{% url 'home' %}">Back Home<span class="sr-only">(current)</span></a>
        
        </div>
        </div>
    </nav>

    <div class="container-fluid" style="margin-top: 30px;">
        <div class="row d-flex justify-content-center align-items-center m-0" style="height: 80vh;">
            <form action="" method="POST" id="login" autocomplete="off" class="bg-light border p-3 shadow">
              {% csrf_token %}
              <div class="form-row">
                <div class="title my-3 col-md-12 logo_outer text-center">
                  <h1>Profile Page</h1>
                </div>
  
                <div class="col-12">
                  <div class="form-group col-md-12 col-sm-6">
                        {{ form|crispy }}
                  </div>
                </div>
  
                <button type="submit" class="btn btn-success">submit</button>          
          </form>
        </div>
    </div>


{% endblock content %}